@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
/* *{
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     -webkit-tap-highlight-color: transparent;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
      user-select: none;
    
    } */
@layer base {
}

@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
  .gradtext {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-primary-idle to-primary-active;
  }
  .dotlink {
    @apply underline cursor-pointer decoration-dotted decoration-light-text-idle hover:decoration-light-text-active dark:decoration-dark-text-idle dark:hover:decoration-dark-text-active underline-offset-8;
  }
  .btn {
    @apply border bg-light-surface-active border-light-surface-hover hover:bg-light-surface-hover dark:bg-dark-surface-active dark:border-dark-surface-hover dark:hover:bg-dark-surface-hover;
  }
  .base-color {
    @apply bg-light-surface-idle text-light-text-idle dark:bg-dark-surface-idle dark:text-dark-text-idle;
  }
  .base-active {
    @apply bg-light-surface-active dark:bg-dark-surface-active text-light-text-idle  dark:text-dark-text-idle;
  }

  .base-hover {
    @apply bg-light-surface-hover dark:bg-dark-surface-hover text-light-text-idle  dark:text-dark-text-idle;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
